@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #eeeeff;
}
/*~~~~~~~~ Start of Header Styling ~~~~~~~~*/
#universalHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas: 
        "logo logo logo"
        "home reminders profile";
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#universalHeader > * {
    margin: 0 5px 5px 5px;
}
#universalHeader > button {
    background-color: #ff7f50;
    border-radius: 10px;
    font-size: large;
    font-family: Poppins, sans-serif;
    outline: none;
}
#universalHeader > button:not([disabled]):hover {
    background-color: #ee6e3f;
    box-shadow: 1px 1px #bbbbbb;
    cursor: pointer;
}
#figureHeader {
    margin: 0;
    padding: 0;
    grid-area: logo;
}
img#imageHeader {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#homeHead {
    grid-area: home;
}
#remindersHead {
    grid-area: reminders;
}
#profileHead {
    grid-area: profile;
}

@media only screen and (max-width: 450px) {
    #universalHeader {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "logo logo"
            "reminders profile";
    }
    #universalHeader > button#homeHead {
        display: none;
    }
}
/*~~~~~~~~ End of Header Styling ~~~~~~~~*/

div#mainContent {
    margin: 50px;
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "group group"
        "sean puru"
        "daniil chris";
    font-family: Poppins, sans-serif;
}
div#group {
    margin: auto;
    width: 800px;
}
div#mainContent figure {
    text-align: center;
    object-fit: contain;
}
div#group ~ div {
    margin: auto;
    width: 400px;
}
div#mainContent h1,h2,p {
    text-align: center;
}
div#group {
    grid-area: group;
}
div#sean {
    grid-area: sean;
}
div#puru {
    grid-area: puru;
}
div#daniil {
    grid-area: daniil;
}
div#chris {
    grid-area: chris;
}

#confetti {
    object-fit: fill;
    width: 100vw;
}

/* Tablet mode grid adjustments */
@media only screen and (max-width: 1000px) {
    div#mainContent {
        grid-template-columns: 1fr;
        grid-template-areas:
            "group"
            "sean"
            "puru"
            "daniil"
            "chris"
    }
    div#group {
        width: auto;
    }
}
/* Mobile mode grid adjustments */
@media only screen and (max-width: 450px) {
    div#mainContent {
        grid-template-columns: 1fr;
        grid-template-areas:
            "group"
            "sean"
            "puru"
            "daniil"
            "chris";
    }
    div#group ~ div {
        width: auto;
    }
    div#mainContent img {
        width: 150px;
        text-align: center;
        object-fit: contain;
    }
}