/* Sizes the body and lays out the gridpane*/
body {
    height: 100%;
    width: 100%;
    margin: 0%;
    font-family: 'open sans', arial, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    background-color:lightgray;
    grid-template-areas:
        "header header"
        "cardioTitle mapTitle"
        "cardioInfo map"
        "cardioResourceTitle cardioResourceTitle"
        "cardioResource cardioResource"
        "filler filler";
}

/*~~~~~~~~ Start of Header Styling ~~~~~~~~*/
#universalHeader {
    width: 100%;
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas: 
        "logo logo logo"
        "home reminders profile";

    /* Comment these 2 lines out to make it not sticky. */
    position: sticky;
    top: 0;
    /*--------------------------------------------------*/

    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#universalHeader > * {
    padding: 10px;
    margin: 5px;
}
#universalHeader > button {
    background-color: #ff7f50;
    border-radius: 10px;
    font-size: large;
    outline: none;
}
#universalHeader > button:not([disabled]):hover {
    background-color: #ee6e3f;
    box-shadow: 1px 1px #bbbbbb;
    cursor: pointer;
}
#figureHeader {
    margin: 0;
    padding: 0;
    grid-area: logo;
}
img#imageHeader {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#homeHead {
    grid-area: home;
}
#remindersHead {
    grid-area: reminders;
}
#profileHead {
    grid-area: profile;
}

/*~~~~~~~~ End of Header Styling ~~~~~~~~*/

/*header for the cardio information */
#cardioTitle {
    grid-area: cardioTitle;
    padding: 0%;
    margin:auto;
    padding: 3% 0% 0% 0%;


}

/*cardio information */
#cardioInfo {
    grid-area: cardioInfo;
    padding: 1%;

}

/*header for the cardio resource information */        
#cardioResourceTitle {
    grid-area: cardioResourceTitle;
    padding: 0% 1%;
}


.tile{
    border-radius: 10px;
    background-color: white;
    padding:1vw;
    margin:1%;
    border: 1px solid grey;
}

.tileResource {
    border-radius: 10px;
    background-color: white;
    padding:1vw;
    margin:0% 1% 1% 1%;
    border: 1px solid grey;
}
/*cardio resource information */
#cardioResource {
    grid-area: cardioResource;
    padding: 0%;
    


}
/*Header for the map.
placed above the map on the gridpane */
#mapTitle {
    grid-area: mapTitle;
    padding: 3% 0% 0% 0%;

}

/* map
explicitly stated height and width is required (overrules gridpane) */
#map {
    width: 42vw;
    height:65vh;
    background-color: grey;
    grid-area: map;
    margin:auto;
}
h3 {
    color:teal;
}

/*Makes the content tablet and mobile friendly when the screen width is 900px or less*/
@media only screen and (max-width: 900px){
/*rearranges the body */
    body {
    grid-template-columns: 1fr;
    grid-template-areas:
        "header "
        "cardioTitle"
        "cardioInfo"
        "cardioResourceTitle"
        "cardioResource"
        "mapTitle"
        "map";
    }
    /*resizes and centers the map */
    #map {
        width:90vw;
        height:70vh;
        margin:auto;
    }
    #mapTitle {
        text-align:center;
    }
    .tile{
        border-radius: 10px;
        background-color: white;
        padding:1vw;
        margin:3%;
        border: 1px solid grey;
    }
}

@media only screen and (max-width: 450px) {
    #universalHeader {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "logo logo"
            "reminders profile";
    }
    #universalHeader > button#homeHead {
        display: none;
    }
}