.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 100%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: 1%;
}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(31, 112, 34);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

button {
    background-color: rgb(31, 112, 34);
    color: white;
    margin: 0vw 1vw;
}

#mobileTitle,
#mobileDiv,
#mobileSliderTitle,
#mobileDurationSlider {
    display: none;
}

/*Lays out the grid area and adds elements to the grid */
body {
    display: grid;
    font-size: x-large;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-areas:
        "header header header"
        "itemTitle itemTitle itemList"
        "item item itemList"
        "durationTitle durationTitle itemList"
        "duration duration itemList"
        "nameTitle nameTitle itemList"
        "finish finish itemList"
        "footer footer footer";

}

#header {
    grid-area: header;
    background-color: aquamarine;
    height: 5vh;
}

#taskList {
    grid-area: itemList;
    border-left: 2px solid rgb(59, 59, 59);
    margin-left: 2%;

}

#itemTitle {
    grid-area: itemTitle;
    margin: 2% 1% 0% 1%;
    height: 5vh;

}

#item {
    grid-area: item;
    height: 20vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "tasks addItem";
    margin: 0% 1%;
}

#tasks {
    grid-area: tasks;
    height: 10vh;

}

#addItem {
    grid-area: addItem;
    height: 10vh;

}

#durationTitle {
    grid-area: durationTitle;
    margin: 1% 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "sliderTitle minutesTitle";
}

#sliderTitle {
    grid-area: sliderTitle;

}

#minutesTitle {
    grid-area: minutesTitle;

    margin: auto;
}

#duration {
    display: grid;
    height: 20vh;
    margin: 1%;
    grid-area: duration;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "durationForm durationTime";
}

#durationSlider {
    grid-area: durationForm;
}

#minutesDiv {
    grid-area: durationTime;
}

#minutes {
    vertical-align: top;
    text-align: center;
}

#nameTitle {
    grid-area: nameTitle;
    height: 5vh;
    margin: 0% 1%;
}

#finish {
    display: grid;
    height: 20vh;
    grid-area: finish;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "nameForm submit";
    margin: 0% 1%;
}

#name {
    grid-area: nameForm;
    height: 10vh;

}

#submit {
    grid-area: submit;
    height: 10vh;

}

/* Makes the timer creation page tablet friendly (devices <= 900px width)*/
@media only screen and (max-width: 900px) {
    body {
        display: grid;
        font-size: x-large;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
            "header header"
            "itemTitle itemTitle"
            "item item"
            "itemList itemList"
            "durationTitle durationTitle"
            "duration duration"
            "nameTitle nameTitle"
            "finish finish"
            "footer footer";

    }

    #item {
        height: 12vh;
    }

    #taskList {
        margin-bottom: 7vh;
    }

    #duration {
        display: grid;
        height: 11.5vh;
    }
}

/* Makes the timer creation page mobile friendly (devices <= 450px width)*/
@media only screen and (max-width: 450px) {
    body {
        display: grid;
        font-size: x-large;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "itemTitle"
            "item"
            "itemList"
            "sliderTitle"
            "durationForm"
            "minutesTitle"
            "durationTime"
            "nameTitle"
            "finish"
            "footer";

    }

    #durationTitle {
        grid-area: durationTitle;
        margin: 1% 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "sliderTitle"
            "durationForm";
    }

    #duration {
        display: grid;
        height: 20vh;
        margin: 1%;
        grid-area: duration;
        grid-template-columns: 1fr;
        grid-template-areas:
            "minutesTitle"
            "durationTime";
    }

    #finish {
        display: grid;
        height: 20vh;
        grid-area: finish;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nameForm"
            "submit";
        margin: 0% 1%;
    }

    #mobileDiv {
        display: block;
        grid-area: durationTime;

    }

    #mobileTitle {
        display: block;
        grid-area: minutesTitle;
    }

    #mobileSliderTitle {
        display: block;
        grid-area: sliderTitle;
    }

    #mobileDurationSlider {
        display: block;
        grid-area: durationForm
    }

    #durationTitle,
    #duration {
        display: none;
    }
}