.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 95%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    outline: none;
    /* Remove outline */
    opacity: 0.7;
    /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;
    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    margin: auto 1%;
}

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: rgb(31, 112, 34);
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

button {
    background-color: rgb(31, 112, 34);
    color: white;
    margin: 0vw 1vw;
}

#mobileTitle,
#mobileDiv,
#mobileSliderTitle,
#mobileDurationSlider {
    display: none;
}

/*Lays out the grid area and adds elements to the grid */
body {
    display: grid;
    font-size: x-large;
    grid-template-columns: 4fr 2fr 3fr;
    grid-template-areas:
        "header header header"
        "itemTitle itemTitle itemList"
        "item item itemList"
        "durationTitle durationTitle itemList"
        "duration duration itemList"
        "nameTitle nameTitle itemList"
        "finish finish itemList"
        "footer footer footer";

}

/*Placeholder header. CAN BE REPLACED WITH REAL HEADER */
#header {
    grid-area: header;
    background-color: aquamarine;
    height: 5vh;
}

/*list of user input tasks.
adds a grey line on the side of the list and minor styling. */
#taskList {
    grid-area: itemList;
    border-left: 2px solid rgb(59, 59, 59);
    margin-left: 2%;

}

/*header for the add item input field */
#itemTitle {
    grid-area: itemTitle;
    margin: 2% 1% 0% 1%;
    height: 5vh;

}

/*"add tasks input field" and "add to list" container*/
#item {
    grid-area: item;
    height: 20vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "tasks addItem";
    margin: 0% 1%;
}

/*input field for tasks */
#tasks {
    grid-area: tasks;
    height: 10vh;

}

/*add to list button */
#addItem {
    grid-area: addItem;
    height: 10vh;

}

/*slider and timer duration headers sub-grid */
#durationTitle {
    grid-area: durationTitle;
    margin: 1% 2%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "sliderTitle minutesTitle";
}

/*timer slider header*/
#sliderTitle {
    grid-area: sliderTitle;

}

/*Timer duration header*/
#minutesTitle {
    grid-area: minutesTitle;
    margin: auto;
}

/*duration slider and duration display container */
#duration {
    display: grid;
    height: 20vh;
    margin: 1%;
    grid-area: duration;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "durationForm durationTime";
}

#durationSlider {
    grid-area: durationForm;
}

/*duration div*/
#minutesDiv {
    grid-area: durationTime;
}

/*duration p tag*/
#minutes {
    vertical-align: top;
    text-align: center;
}

/*timer name header */
#nameTitle {
    grid-area: nameTitle;
    height: 5vh;
    margin: 0% 1%;
}

/*name form and submission button container */
#finish {
    display: grid;
    height: 20vh;
    grid-area: finish;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "nameForm submit";
    margin: 0% 1%;
}

/*timer name form */
#name {
    grid-area: nameForm;
    height: 10vh;

}
/*submit button*/
#submit {
    grid-area: submit;
    height: 10vh;

}

/* Makes the timer creation page tablet friendly (devices <= 900px width)*/
@media only screen and (max-width: 900px) {
    body {
        display: grid;
        font-size: x-large;
        grid-template-columns: 4fr 2fr;
        grid-template-areas:
            "header header"
            "itemTitle itemTitle"
            "item item"
            "itemList itemList"
            "durationTitle durationTitle"
            "duration duration"
            "nameTitle nameTitle"
            "finish finish"
            "footer footer";

    }

    #item {
        height: 12vh;
    }

    #taskList {
        margin-bottom: 7vh;
    }

    #duration {
        display: grid;
        height: 11.5vh;
    }
}

/* Makes the timer creation page mobile friendly (devices <= 450px width)*/
@media only screen and (max-width: 450px) {
    body {
        display: grid;
        font-size: x-large;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "itemTitle"
            "item"
            "itemList"
            "sliderTitle"
            "durationForm"
            "minutesTitle"
            "durationTime"
            "nameTitle"
            "finish"
            "footer";

    }

    /* Sub-container for the
    #durationTitle {
        grid-area: durationTitle;
        margin: 1% 2%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "sliderTitle"
            "durationForm";
    } */
/* 
    #duration {
        display: grid;
        height: 20vh;
        margin: 1%;
        grid-area: duration;
        grid-template-columns: 1fr;
        grid-template-areas:
            "minutesTitle"
            "durationTime";
    } */
    #nameTitle {
        margin:10% 0% 0% 0%;
    }

    /* reduces tasks width to make the add to list button larger (responsive to 315 px)*/
    #tasks {
        width:65vw;
    }

    /*Sub-container for vertically aligning the name header and input field/ submit button */
    #finish {
        display: grid;
        height: 20vh;
        grid-area: finish;
        grid-template-columns: 1fr;
        grid-template-areas:
            "nameForm"
            "submit";
        margin: 0% 1%;
    }

    /*shows the mobile duration elements and places them on a grid*/
    #mobileDiv {
        display: block;
        grid-area: durationTime;

    }
    /*shows the mobile duration elements and places them on a grid*/
    #mobileTitle {
        display: block;
        grid-area: minutesTitle;
    }
    /*shows the mobile duration elements and places them on a grid*/
    #mobileSliderTitle {
        display: block;
        grid-area: sliderTitle;
    }
    /*shows the mobile duration elements and places them on a grid*/
    #mobileDurationSlider {
        display: block;
        grid-area: durationForm
    }

    /*hides the desktop duration elemetns */
    #durationTitle,
    #duration {
        display: none;
    }
    
    /*submit button.
    Restricting width to prevent horizontal scrolling*/
    #submit {
        margin:auto;
        width:90vw;

    }

    /*timer name input field.
    Adds a bottom margin. */
    #name {
        margin: 0% 0% 10% 0%;
    }
    /*"add to list" button.
    prevents text overflow on the button  */
    #addItem{
        font-size: small;
    }
}