@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
    font-family: Poppins, sans-serif;
}
body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #eeeeff;
}
/*~~~~~~~~ Start of Header Styling ~~~~~~~~*/
#universalHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas: 
        "logo logo logo"
        "home reminders profile";

    /* Comment these 2 lines out to make it not sticky. */
    position: sticky;
    top: 0;
    /*--------------------------------------------------*/

    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#universalHeader > * {
    margin: 0 5px 5px 5px;
}
#universalHeader > button {
    background-color: #ff7f50;
    border-radius: 10px;
    font-size: large;
    outline: none;
}
#universalHeader > button:not([disabled]):hover {
    background-color: #ee6e3f;
    box-shadow: 1px 1px #bbbbbb;
    cursor: pointer;
}
#figureHeader {
    margin: 0;
    padding: 0;
    grid-area: logo;
}
img#imageHeader {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#homeHead {
    grid-area: home;
}
#remindersHead {
    grid-area: reminders;
}
#profileHead {
    grid-area: profile;
}
@media only screen and (max-width: 450px) {
    #universalHeader {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "logo logo"
            "reminders profile";
    }
    #universalHeader > button#homeHead {
        display: none;
    }
}
/*~~~~~~~~ End of Header Styling ~~~~~~~~*/

/* Title */
section{
    text-align: center;
    font-size:50pt;
    padding:3%;
    margin-bottom:2%;
}

.description{
    text-align: center;
    font-size:20pt;
    border: 1px solid black;
    background-color:white;
    margin-top:50px;
}
figure{
    text-align: center;
    align-content: center;
}
center img{
   border-radius:8px;
   padding:1px;
   border:1px solid gray;
   background-color:black;
}
@media only screen and (max-width:400px){
    section{
        width:400px;
    }
    .description{
        width:450px;
    }
    #universalHeader{
        width:450px;
    }
}
