@import url("https://fonts.googleapis.com/css?family=Poppins");
body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}
#allContent {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.header {
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}
.figureHeader {
    margin: 0;
}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#welcome {
    margin-top: 100px;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    font-family: Poppins, sans-serif;
    text-align: center;
    background-image: url("../images/main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
}
span#name {
    visibility: hidden;
}
#links {
    height: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 25px;
    margin: 25px;
    grid-template-areas: 
        "reminders routines profile"
        "resources resources resources"
        "about about about";
}
#links button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: x-large;
    font-family: Poppins, sans-serif;
    box-shadow: 3px 3px #aaaaaa;
    cursor: pointer;
    outline: none;
}
#links button:hover {
    background-color: #dddddd;
}
#reminders {
    grid-area: reminders;
}
#routines {
    grid-area: routines;
}
#profile {
    grid-area: profile;
}
#resources {
    grid-area: resources;
}
#about {
    grid-area: about;
}

@media only screen and (max-width: 450px) {
    #links {
        height: 40%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 150px);
        grid-gap: 25px;
        margin: 25px;
        grid-template-areas: 
            "reminders"
            "routines"
            "profile"
            "resources"
            "about";
    }
    #welcome {
        font-size: 75px;
    }
}