body{
    margin:0;
    background-color:dimgray;
}
.header{
    width:100%;
    display:flex;
    background-color:lightgray;
}
.figureHeader{
    margin:0;
    width:20%;
}
img{
    width:100%;
    height:100%;
}
.headerButtons{
    list-style-type: none;
    display:flex;
    margin-left:55%;
    width:23%;
}
.headerButtons li{
    margin-right:10%;
}
.headerButtons button{
    border-radius:10%;
    width:80px;
    margin-top:30%;
    padding: 7% 10% 7% 10%;
    border: none;
    background-color:white;
}
section{
    text-align: center;
    font-size:50pt;
    background-color:darkgrey;
    padding:3%;
    margin-bottom:2%;
}
.wrapper{
    display:grid;
    grid-template-columns:repeat(3, 400px);
    grid-template-rows:repeat(3, 100px);
    grid-gap:60px 100px;
    justify-content: center;
}
.wrapper button{
    font-size:20pt;
}
#start{
    display:block;
    text-align: center;
    margin-top:-5%;
}
#start button{
    font-size:20pt;
    padding: 10px 50px;
}

