body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: thistle;
}
/*~~~~~~~~ Start of Header Styling ~~~~~~~~*/
#universalHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas: 
        "logo logo logo"
        "home reminders profile";

    /* Comment these 2 lines out to make it not sticky. */
    position: sticky;
    top: 0;
    /*--------------------------------------------------*/

    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#universalHeader > * {
    padding: 10px;
    margin: 5px;
}
#universalHeader > button {
    background-color: #ff7f50;
    border-radius: 10px;
    font-size: large;
    outline: none;
}
#universalHeader > button:not([disabled]):hover {
    background-color: #ee6e3f;
    box-shadow: 1px 1px #bbbbbb;
    cursor: pointer;
}
#figureHeader {
    margin: 0;
    padding: 0;
    grid-area: logo;
}
img#imageHeader {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#homeHead {
    grid-area: home;
}
#remindersHead {
    grid-area: reminders;
}
#profileHead {
    grid-area: profile;
}

@media only screen and (max-width: 450px) {
    #universalHeader {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "logo logo"
            "reminders profile";
    }
    #universalHeader > button#homeHead {
        display: none;
    }
}
/*~~~~~~~~ End of Header Styling ~~~~~~~~*/
#routines{
    text-align: center;
}
#routines button{
    padding:2% 8%;
    font-size: 20pt;
    margin:5%;
}
.btn-group1 .button1 {
  background-color: #d3d3d3;
  border: 4px solid grey;
  color: black;
  padding: 15%;
  text-align: center;
  text-decoration: none;
  font-size: auto;
  cursor: pointer;
  height: 32%;
  width: 100%;
  display: block;
  margin: 4px;
}

.btn-group1 .button1:not(:last-child) {
  border-bottom: none; 
}

.btn-group1 .button1:hover {
  background-color: #a9a9a9;
}
.btn-group1 {
    height: 100%;
    width: 15%;
}

.btn-group2 .button2 {
  background-color: #d3d3d3;
  border: 4px solid grey;
  color: black;
  padding: 15%;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 32%;
  width: 100%;
  display: block;
  margin: 4px;
}

.btn-group2 {
    display: grid;
    margin-left: 19%;
    margin-top: 2%;
    margin-right: 2%;
    grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 320px) {
.btn-group2 .button2 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
.btn-group1 .button1 {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
.btn-group2 .button2 {
    font-size: 22px;
  }
.btn-group1 .button1 {
    font-size: 22px;
  }
}

#title {
    margin-left: 19%;
    margin-top: -50%;
    font-size: 60px;
}