body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: thistle;
}
/*~~~~~~~~ Start of Header Styling ~~~~~~~~*/
#universalHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas: 
        "logo logo logo"
        "home reminders profile";

    /* Comment these 2 lines out to make it not sticky. */
    position: sticky;
    top: 0;
    /*--------------------------------------------------*/

    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#universalHeader > * {
    padding: 10px;
    margin: 5px;
}
#universalHeader > button {
    background-color: #ff7f50;
    border-radius: 10px;
    font-size: large;
    outline: none;
}
#universalHeader > button:not([disabled]):hover {
    background-color: #ee6e3f;
    box-shadow: 1px 1px #bbbbbb;
    cursor: pointer;
}
#figureHeader {
    margin: 0;
    padding: 0;
    grid-area: logo;
}
img#imageHeader {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#homeHead {
    grid-area: home;
}
#remindersHead {
    grid-area: reminders;
}
#profileHead {
    grid-area: profile;
}

@media only screen and (max-width: 450px) {
    #universalHeader {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "logo logo"
            "reminders profile";
    }
    #universalHeader > button#homeHead {
        display: none;
    }
}
/*~~~~~~~~ End of Header Styling ~~~~~~~~*/
section{
    text-align: center;
    font-size:50pt;
    background-color:darkgrey;
    padding:3%;
}
#dropDowns{
    list-style-type: none;
    transform: translateY(-6px);
}
#routines{
    font-size:30pt;
    text-align: center;
    margin:1%;
    width:100%;
}
#routines li{
    list-style-type:none;
    background-color:lightgray;
    position:relative;
}
#routines li:not(:last-child){
    margin-bottom:1%;
}
.arrow{
    border: solid black;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 8px;
}
.right{
    transform:rotate(-45deg);
}
.down {
    transform: rotate(45deg);
}
#overallContent{
    display:flex;
}
#overallContent button{
    border:none;
    background-color:thistle;
}
#displayRoutines{
    font-size: 20pt;
    background-color:lightgray;
    display:block;
    width:100%;
}
.routinePicture{
    display: block;
    margin-top:1%;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    height:15%;
}
@media only screen and (max-width:1000px){
    .arrow{
        padding:6px;
        border-width: 0 6px 6px 0;
    }
}
@media only screen and (max-width:800px){
    #routines{
        font-size:23pt;
    }
}
@media only screen and (max-width:550px){
    section{
        font-size:40pt;
    }
    .arrow{
        padding:5px;
        border-width: 0 5px 5px 0;
    }
    #routines{
        font-size:28pt;
    }
}