@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
    font-family: Poppins, sans-serif;
}
body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #eeeeff;
}
/*~~~~~~~~ Start of Header Styling ~~~~~~~~*/
#universalHeader {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas: 
        "logo logo logo"
        "home reminders profile";

    /* Comment these 2 lines out to make it not sticky. */
    position: sticky;
    top: 0;
    /*--------------------------------------------------*/

    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#universalHeader > * {
    margin: 0 5px 5px 5px;
}
#universalHeader > button {
    background-color: #ff7f50;
    border-radius: 10px;
    font-size: large;
    outline: none;
}
#universalHeader > button:not([disabled]):hover {
    background-color: #ee6e3f;
    box-shadow: 1px 1px #bbbbbb;
    cursor: pointer;
}
#figureHeader {
    margin: 0;
    padding: 0;
    grid-area: logo;
}
img#imageHeader {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#homeHead {
    grid-area: home;
}
#remindersHead {
    grid-area: reminders;
}
#profileHead {
    grid-area: profile;
}
@media only screen and (max-width: 450px) {
    #universalHeader {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "logo logo"
            "reminders profile";
    }
    #universalHeader > button#homeHead {
        display: none;
    }
}
/*~~~~~~~~ End of Header Styling ~~~~~~~~*/

/* Title */
section{
    text-align: center;
    font-size:50pt;
    padding:3%;
}

body {
    background-color: #EEEEFF;
}
/*Save Routine Button*/
.saveRoutine{
    padding: 1% 5%;
    font-size:15pt;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:50px;
    margin-left:10px
}

#head1,
#head2,
#head3,
#head4 {
    display:flex;
}

div img{
    display:block;
    width:20%;
    height:17%;
    float:right;
    border-radius:8px;
    padding:1px;
    border:1px solid gray;
    background-color:black;
}

#descDiv1,
#descDiv2,
#descDiv3,
#descDiv4 {
    margin: 2vh 1vw 0vh 1vw;
    display:flex;
}

/* The dropdown buttons */
#overallContent button{
    border: none;
    outline: none;
}
h3,
p {
    margin: 0vh 1vw;
}

.items {
    background-color:white;
    border-radius: 10px;
    border: 1px solid gray;
    padding:1%;
    margin:1%;
}
/* Later will become the picture for the routines once the source names are added to the database */
.routinePicture{
    display: block;
    margin-top:1%;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    height:25%;
    border-radius:8px;
    padding:1px;
    border:1px solid gray;
    background-color:black;
}
@media only screen and (max-width:500px){
    div img{
        display:block;
        width:35%;
        height:30%;
   }
}