main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "header"
        "main"
        "btns"
        "footer";
}

.head {
    grid-area: header;
    display:block;
    margin:auto;

}



.presets {
    grid-area: btns;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "section1 description1 section2 description2"
        "section3 description3 section4 description4";
}

p {
    text-align: center;
}
ul {
    display:block;
    list-style-type:circle;
    margin:auto;
    text-align: left;
}

.btn {
    width:20vw;
    height:8vw;
    margin: 0.5vw;
    float: left;
    font-size: large;

}
#btn1 {
    grid-area: section1;

}
.desc {
    width:20vw;
    height:8vw;
    margin: 0.5vw;
    background-color: green;
}
.desc1 {
    grid-area:description1;
}
.desc2 {
    grid-area:description2;
}
.desc3 {
    grid-area:description3;
}
.desc4 {
    grid-area:description4;
}

#btn2 {
    grid-area: section2;

}
#btn3 {
    grid-area: section3;

}
#btn4 {
    grid-area: section4;

}



#logo {
    width:300px; /* you can use % */
    height: auto;
}

